.pub_container {
  width: 100%;
  max-width: 1600px;
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  align-items: flex-start;
}

.top_btn_container {
  position: fixed;
  bottom: 136px;
  cursor: pointer;
}

.pub_category_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 80px;
  width: 420px;
  flex-shrink: 0;
}

.pub_category_item {
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  white-space: pre-line;
  width: fit-content;
  position: relative;
}

.pub_category_active {
  font-size: 26px;
  font-weight: 500;
  padding: 6px 20px;
  background-color: #58FF00;
  display: inline-block;
  border-radius: 500px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(100%, -50%);
}

.pub_category_inactive {
  opacity: 0;
  font-size: 0px;
  font-weight: 500;
  padding: 6px 20px;
  background-color: #58FF00;
  display: inline-block;
  border-radius: 500px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(100%, -50%);
}

.pub_card_container {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: 0 0 100px 70px;
  flex: 1;
}

.pub_card_none {
  font-size: 20px;
  font-weight: 500;
  color: #ccc;
}

.pub_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-top: 1px solid #000;
  cursor: pointer;
}

.pub_card_title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 10px;
}

.pub_card_entitle {
  color: #888;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 40px;
}

.pub_card_info_container {
  display: flex;
  justify-content: space-between;
}

.pub_card_members {
  font-size: 20px;
  font-weight: 500;
}

.pub_card_category_date_container {
  display: flex;
  gap: 10px;
  align-items: center;
}