html {
  font-family: 'Pretendard', sans-serif;
  overflow: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE, Edge (구버전) */
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_color {
  color: #6832FC;
  transition: 0.4s;
}

.color888 {
  color: #888;
  transition: 0.4s;
}

.colorAAA {
  color: #aaa;
  transition: 0.4s;
}

.pointer {
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 0 40px;
  margin: 0 auto;
  flex: 1;
  max-width: 1680px;
  width: 100%;
  box-sizing: border-box;
}

.header_gnb {
  width: 100%;
  padding: 26px 0;
  border-bottom: 1px solid #ccc;
}

.header_container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_style {
  width: 180px;
}

.Link_Container {
  max-width: 1110px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 311.8px;
}

.gnb_link {
  text-decoration: none;
  color: #bbb;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
  transition: all 0.3s ease;
}
.gnb_link_selected {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
  transition: all 0.3s ease;
}
.gnb_link:hover {
  color: #000;
}

@media (max-width: 1200px) {
  .Link_Container {
    margin-left: 100px;
  }
}

.footer {
  width: 100%;
  padding: 30px 0;
  background: #eee;
}

.Footer_Container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer_text {
  font-weight: 400;
  display: flex;
  gap: 6px;
}